<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Change Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar (current='Change Password')"></nav>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">Update Password</div>
        <div class="card-body">
            <form th:action="@{/user/change-password}" th:object="${user}" method="POST">
                <h3 th:text="${msg}"></h3>
                <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}">

                Password Lama:<br />
                <input type="password" name="passLama" class="form-control"/>
                <br />
                Password Baru:<br />
                <input type="password" name="passBaru" class="form-control" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}$"/>
                <br />
                Konfirmasi Password Baru:<br />
                <input type="password" name="konfPassBaru" class="form-control"/>
                <br />

                <br /><br /><br />
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>